body{
  font: 15px/1.5 Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f4f4f4;

}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;

}

header{
  background:#2f2f2f;
  color: #ffffff;
  padding-top: 30px;
  min-height:70px;
  border-bottom:#e8491d 3px solid;

}

header a{
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}

header ul{
  margin: 0;
  padding: 0;
}

header li{
  float: left;
  display: inline;
  padding: 0 20px 0 20px;
}

header nav{
  float:right;
  margin-top: 30px;
}

header .highlight, header .current a{
  color: #e8491d;
  font-weight: bold;

}

header a:hover{
  color:#cccccc;
  font-weight:bold;
}

#showcase{
  min-height: 600px;
  image-orientation: center;
  background:url('../imgs/2109.jpg') no-repeat center;
  width: 100%;
  height:auto;
  text-align: center;
  color: #ffffff;

}

#showcase h1{
  margin-top:125px;
  font-size:55px;
}

#showcase p{
  font-size: 27px;
}

#projects{

  margin-top: 20px;
  min-height: 400px;

}
#projects .project{
  float:left;
  text-align: center;
  width: 30%;
  padding: 10px;
}
#projects .project img{
  width: 80px;
  height: 70px;
}

footer{
  padding: 20px;
  margin-top: 20px;
  text-align: center;
  color:#ffffff;
  background-color: #2f2f2f;
}
footer a{
  color: #ffffff;
}

footer a:hover{
  color:#e8491d;

}


@media(max-width: 768px){

  header nav, header nav li, #showcase{
    float:none;
    text-align:center;
    width: 100%;
  }

  header{
    padding: 20px;
  }


}
