@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100%;
  font-family: 'Roboto', sans-serif;
  color: #ffffff;

  margin: auto;
  background-color: #003366;

}

.content-container{
  padding-top: 20vh;
  text-align: center;
}

.content-container i{
  padding: 0 .5rem 0 .5rem;
}
.title-name{
  font-size: 4rem;
  padding-bottom: 3rem;
}

.sub-header{

  font-size: 1.5rem;
  padding: 2vh;

}
#last-name{
  color:#e8491d;
}
.typed-text{
font-size: 1.5rem;
padding-bottom: 3rem;
}

a{
text-decoration: none;
color: #ffffff;

}

a:hover{
  color:#e8491d;
  cursor: pointer;
}

footer{
  padding: 20px;
  margin-top: -1px;
  text-align: center;
  color:#ffffff;
  font-family: 'Roboto', sans-serif;

}

p{
  text-align: center;
  width: 33vh;
}

@media(max-width: 768px){

  body{
    height: 100vh;
    width: 100%;
  }

  .title-name{
    font-size: 2rem;
    padding-bottom: 1.5rem;
  }

  .sub-header{

    font-size: 1rem;
    padding: 1vh;

  }

  .typed-text{
  font-size: 1rem;
  padding-bottom: 1.5rem;
  }

}
